.ui.form.formStyle {
  margin-left: 300px;
  margin-top: 100px;
  width: 550px;

  max-height: 140px;
}

.ui.item.itemStyle {
  border-radius: 18px;
  max-height: 140px;
  background-color: #3865fe;
}

.itemStyle {
  border-radius: 18px;
  max-height: 140px;
  background-color: #3865fe;
}
ui.item.image.itemStyle {
  max-height: 140px;
}
::content {
  max-width: 240px;
}
